input[type="text"] {
    padding: 8px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.div {
    padding: 20px;
    margin-top: 20px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    font-size: 14px;
    color: #333333;
  }
  
.ui-autocomplete > li {
    padding: 5px 10px;
    cursor: pointer;
  }
  
.ui-autocomplete > li:hover {
    background-color: #f0f0f0;
  }


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 15px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.search-button, .register-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.register-button {
    margin-left: 80%;
}

.search-button:hover, .register-button:hover {
    background-color: #0056b3;
}

.car-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
}

.car-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.car-card h2 {
    margin: 5px 0;
    color: #333;
}

.ui-helper-hidden-accessible {
    display: none !important;
}

