#map {
    position:relative;
    height: 100vh;
    width: 100vw;
}

#parkButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#parkButton:hover {
    background-color: #45a049;
}

#UnparkButton {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#UnparkButton:hover {
    background-color: #45a049;
}

#findParkingButton {
    position: absolute;
    top: 110px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#findParkingButton:hover {
    background-color: #45a049;
}

.select-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    z-index: 1000; /* Ensures it appears above the map layers */
}

#toggleHeatmapButton {
    position: absolute;
    top: 160px;
    right: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#toggleHeatmapButton:hover {
    background-color: #45a049;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 5px solid rgba(10, 160, 220, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    z-index: 1000;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: translate(-50%, -50%) rotate(360deg); }
}


.map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar {
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #1b1e20;
    color: #fff;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    left: 0; /* Slide in when open */
}

.toggle-button {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #4daad8; /* Light blue background */
    border: 1px solid #ccc; /* Grey border */
    border-radius: 0 5px 5px 0; /* Rounded border on the right side */
    cursor: pointer;
    overflow: hidden;
    z-index: 1000;
}

.toggle-button::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) translateX(50%) rotate(45deg); /* Rotate to form a triangle */
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* Adjust size of triangle */
    border-right: 8px solid transparent; /* Adjust size of triangle */
    border-top: 8px solid #fff; /* Adjust size of triangle */
}

.toggle-button span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff; /* White color for the arrow */
    font-size: 20px;
}


.toggle-button.open span {
    transform: translate(-50%, -50%) rotate(45deg);
}

.toggle-button.open span:before,
.toggle-button.open span:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transition: transform 0.3s ease-in-out;
}

.toggle-button.open span:before {
    transform: translate(-50%, -50%) rotate(-90deg);
}

.toggle-button.open span:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.menu-list {
    list-style: none; /* Remove bullets */
    padding: 0; /* Remove default padding */
}

.menu-list li {
    margin-bottom: 10px; /* Space out the buttons */
}

.menu-list button {
    display: block;
    width: 100%;
    padding: 15px; /* Increase padding for larger buttons */
    border: none;
    border-bottom: 6px solid #972929;  /* Thick dividers between buttons */
    background-color: #434d46; /* Sea green background */
    color: #fff; /* White text */
    text-align: left;
    transition: background-color 0.3s;
    z-index: 1000;
}

.menu-list button:hover {
    background-color: #363b37; /* Darker background on hover */
}

.menu-list button svg {
    margin-right: 10px; /* Add space between icon and text */
}

.leaflet-control {
    z-index: 999; /* Lower z-index value */
}

